<h1>
  All users
</h1>

<hr>

<table class="table">
  <tr>

    <th>
      User Email
    </th>

    <th>
      Last Post
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @user.each do |user| %>
  <tr>

    <td>
      <%= user.email %>
    </td>
    
    <td>
      <a href = "/users/">
        Title
      </a>
    </td>

    <td>
      <%= time_ago_in_words(user.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(user.updated_at) %> ago
    </td>

  </tr>
  <% end %>
</table>
