<!-- Validation failure messages -->
<% if @vote.present? %>
  <% if @vote.errors.any? %>
    <% @vote.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new vote
</h1>

<hr>

<form action="/create_vote" method="post">
  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @vote.try(:user_id) %>">
  </div>

  <!-- Label and input for option_id -->
  <div class="form-group">
    <label for="option_id">
      Option
    </label>

    <input type="text" id="option_id" name="option_id" class="form-control" value="<%= @vote.try(:option_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create vote
  </button>
</form>

<hr>

<a href="/votes">
  Go back
</a>
